<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/myCSS.css}">
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div th:replace="base :: navlinks"></div>
<br/><br>
<div class="card mx-auto border-primary" style=" width: 30% ">
    <div class="card-header">
        <h5>Message Form</h5>
    </div>
  <div class="card-body">
<form th:action="@{/process}" th:object="${message}" method="post" enctype="multipart/form-data">

    <input type="hidden" th:field="*{id}"/>
    <input type="hidden" th:field="*{headshot}" />
    Title : <input type="text" class="form-control form-control-sm" th:field="*{title}">
    <span th:if="${#fields.hasErrors('title')}"></span><br/>
    Message : <textarea class="form-control" rows="3" type="text" th:field="*{content}"></textarea>
    <span th:if="${#fields.hasErrors('content')}"></span><br/>
    Date : <input class="form-control form-control-sm" placeholder="Date" type="text" th:field="*{postedDate}">
    <span th:if="${#fields.hasErrors('postedDate')}"></span><br/>
    Name : <input class="form-control form-control-sm" placeholder="Name" type="text" th:field="*{postedBy}">
    <span th:if="${#fields.hasErrors('postedBy')}"></span><br/>
    Image : <input type="file" name="file"><br/><br/>
    <div th:if="${message.headshot} !=null">
    <img th:src="${message.headshot}">
    </div>
    <div class = "text-center">
    <button class="btn btn-lg buttonColor" type="submit" >Submit</button>
    </div>
</form>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>